* {
    margin     : 0;
    padding    : 0;
    font-family: '微软雅黑';
}

body {
    height               : 100vh;
    width                : 100%;
    background           : linear-gradient(cyan, transparent), linear-gradient(-45deg, magenta, transparent), linear-gradient(45deg, yellow, transparent);
    background-attachment: fixed;
}

.page-head {
    width          : 100%;
    height         : 100px;
    border-bottom  : 1px solid rgba(255, 255, 255, 0.4);
    background     : rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px) brightness(110%);
    position       : sticky;
    z-index        : 1000;
    top            : 0;
}

.login {
    display        : flex;
    align-items    : center;
    justify-content: flex-end;
    max-width      : 800px;
    height         : 20px;
    margin         : 0 auto;
}

.login>a {
    color    : #000;
    font-size: 12px;
}

.head-bottom {
    display    : flex;
    align-items: center;
    max-width  : 800px;
    height     : 80px;
    margin     : 0 auto;
}

.head-logo {
    height: 80%;
}

.head-logo-img {
    height: 100%;
}

.head-nav {
    margin-left: 50px;
}

.head-nav>ul {
    list-style: none;
    display   : flex;
    align-self: flex-start;
}

.head-nav li {
    font-size    : 16px;
    text-shadow  : #fff 0 0 1px;
    border-radius: 3px;
}

.head-nav a:hover {
    background-color: rgba(0, 0, 0, 0.062);
}

.head-nav a {
    padding        : 10px 30px;
    color          : #000;
    text-decoration: none;
    transition     : 400ms;
}

.banner {
    max-width: 900px;
    width    : 90%;
    margin   : 0 auto;
    padding  : 100px 0 0 0;
}

.banner-center {
    width         : 100%;
    display       : flex;
    align-items   : center;
    padding-bottom: 100px;
}

.banner-left {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
    width         : 50%;
}

.banner-logo {
    height       : 80px;
    margin-bottom: 30px;
}

.banner-logo-img {
    height: 100%;
}

.banner-text {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    font-size  : 24px;
    color      : #fff;
    font-weight: 200;
    text-shadow: rgba(0, 0, 0, 0.4) 0 0 1px;
}

.install {
    display   : block;
    margin-top: 50px;
}

.install-link {
    display            : block;
    text-transform     : uppercase;
    width              : calc(100% - 25px);
    padding            : 15px 50px 15px 25px;
    border-radius      : 3px;
    filter             : drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
    font-size          : 18px;
    line-height        : 1;
    letter-spacing     : 0.03em;
    text-align         : left;
    color              : #fff;
    position           : relative;
    font-family        : "Motiva Sans", Sans-serif;
    font-weight        : normal;
    background         : linear-gradient(to right, #ffb764 50%, #ed2bff 100%);
    background-size    : 200%;
    background-position: right 0;
    transition         : background-position 300ms ease-in;
    text-decoration    : none;
}

.install-link:hover {
    background-position: 0 0;
}

.install-link:after {
    background-image   : url(https://media.st.dl.pinyuncloud.com/store/about/icon-windows.svg);
    content            : "";
    background-position: top right;
    background-size    : auto 100%;
    background-repeat  : no-repeat;
    width              : 18px;
    height             : 18px;
    position           : absolute;
    right              : 25px;
}

.banner-right {
    width: 70%;
}

.banner-right-content {
    width          : 100%;
    background     : rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px) brightness(110%);
    box-shadow     : rgba(0, 0, 0, 0.2) 5px 5px 5px;
    border-radius  : 5px;
}

.banner-right-show {
    background-image   : url(../img/banner.png);
    background-size    : contain;
    background-position: center;
    background-repeat  : no-repeat;
    width              : 100%;
    height             : 400px;
}

.learn-more-btn {
    width     : 100px;
    margin    : 0 auto;
    text-align: center;
}

.learn-more-link {
    color          : #e0e0e0;
    font-size      : 13px;
    text-transform : uppercase;
    letter-spacing : 1px;
    text-decoration: none;
}

.down-arrow {
    display   : block;
    margin-top: 5px;
}

.down-arrow:after {
    content          : "";
    border           : solid #dbdbdb;
    border-width     : 0 2px 2px 0;
    display          : inline-block;
    padding          : 5px;
    transform        : rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.gameshow {
    width   : 100%;
    height  : 100vh;
    position: relative;
}

.show-center {
    position   : absolute;
    transform  : translate(-50%, -50%);
    top        : 50%;
    left       : 50%;
    width      : 600px;
    height     : auto;
    text-align : center;
    text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 3px;
}

.show-center>h3 {
    font-size    : 45px;
    margin-bottom: 10px;
    line-height  : 1;
    color        : #fff;
}

.show-center>p {
    width       : 80%;
    margin-left : auto;
    margin-right: auto;
    font-family : "Motiva Sans", Sans-serif;
    font-weight : 300;
    font-size   : 18px;
    color       : #fff;
}

.show-ul {
    position  : relative;
    list-style: none;
    width     : 100%;
    height    : 100%;
}

.show-ul>.game {
    box-shadow     : rgba(0, 0, 0, 0.2) 3px 3px 3px;
    position       : absolute;
    width          : 100px;
    height         : auto;
    backdrop-filter: blur(10px) brightness(110%);
    border-radius  : 3px;
    overflow       : hidden;
    opacity        : 0;
    transition     : 400ms;
}

.show-ul>.game>img {
    width: 100%;
}

.show-ul>.game-1 {
    left : 100px;
    top  : 50px;
    width: 150px;
}

.show-ul>.game-2 {
    right : 200px;
    bottom: 50px;
    width : 90px;
}

.show-ul>.game-3 {
    left  : 200px;
    bottom: 80px;
    width : 110px;
}

.show-ul>.game-4 {
    right: 180px;
    top  : 80px;
    width: 170px;
}

.develop {
    width           : 100%;
    height          : 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter : blur(10px) brightness(110%);
}

.develop-center {
    width          : 70%;
    height         : 100%;
    max-width      : 900px;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding-bottom : 100px;
    margin         : 0 auto;
}

.develop-right {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
    width         : 40%;
}

.develop-title {
    font-size    : 45px;
    margin-bottom: 10px;
    line-height  : 1;
    color        : #000;
}

.develop-text {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    font-size  : 24px;
    color      : #000;
    font-weight: 200;
}

.develop-left {
    width: 50%;
}

.develop-left-content {
    width        : 100%;
    box-shadow   : rgba(0, 0, 0, 0.2) 5px 5px 5px;
    border-radius: 5px;
}

.develop-content {
    width           : 100%;
    box-shadow      : rgba(0, 0, 0, 0.2) 5px 5px 5px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius   : 5px;
    padding         : 40px 30px;
}

.develop-left-show {
    width              : 100%;
    height             : 400px;
    background-image   : url(../img/developer.gif);
    background-position: center center;
}

.develop-link {
    font-size      : 20px;
    margin         : 15px 0;
    color          : #2EBFFF;
    display        : block;
    text-decoration: none;
}

.develop-link:after {
    width     : 40px;
    display   : inline-block;
    text-align: left;
    transition: padding 100ms ease-out, width 100ms ease-out;
}

.develop-link:after {
    content: "➜";
}

.develop-link:hover:after {
    width       : 30px;
    padding-left: 10px;
}

.develop-ul {
    font-size     : 18px;
    line-height   : 30px;
    padding       : 30px 40px;
    letter-spacing: 3px;
}

.develop-ul>li {
    margin-bottom: 10px;
}

.page-foot {
    margin-top: 20px;
    height    : auto;
}

.foot-top {
    text-align: center;
}

.foot-top>p {
    display       : block;
    text-transform: uppercase;
    font-size     : 18px;
    line-height   : 1;
    letter-spacing: 0.3em;
    color         : #fff;
    font-family   : "Motiva Sans", Sans-serif;
    font-weight   : normal;
}

.foot-bottom {
    width          : 100%;
    height         : 40px;
    margin-top     : 5px;
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
    align-items    : center;
    font-size      : 12px;
    color          : white;
    overflow       : hidden;
}




.dev-body {
    width   : 100%;
    height  : 100vh;
    overflow: hidden;
}

.dev-head {
    width          : 100%;
    height         : 80px;
    border-bottom  : 1px solid rgba(255, 255, 255, 0.4);
    background     : rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px) brightness(110%);
    position       : absolute;
    z-index        : 1000;
    top            : 0;
}

.dev-inner {
    width          : 80%;
    height         : 100%;
    margin         : 0 auto;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.dev-ul {
    display    : flex;
    align-items: center;
    list-style : none;
}

.dev-logo {
    height      : 50px;
    margin-right: 30px;
}

.dev-logo>img {
    height: 100%;
}

.dev-info {
    position: relative;
}

.dev-info-btn {
    border       : 1px #000 solid;
    background   : none;
    outline      : none;
    padding      : 10px 30px;
    font-size    : 16px;
    border-radius: 50px;
    box-shadow   : rgba(0, 0, 0, 0.3) 1px 1px 2px;
    transition: 200ms;
    cursor: pointer;
}

.dev-info-btn:hover {
    box-shadow   : rgba(0, 0, 0, 0.3) 3px 3px 5px;
}

.develop>.dev-inner {
    flex-direction: column;
    height        : 60vh;
    padding       : 15vh 0 25vh;
}

.dev-upload,
.dev-done {
    width   : 100%;
    height  : 50%;
    position: relative;
}

.dev-upload {
    overflow: hidden
}

.dev-game {
    display    : flex;
    align-items: flex-start;
    margin-top : 20px;
}

.dev-item {
    display       : flex;
    align-items   : flex-start;
    width         : 100px;
    flex-direction: column;
    padding       : 5px 20px;
    border        : rgba(0, 0, 0, 0.3) solid 1px;
    box-shadow    : rgba(0, 0, 0, 0.3) 1px 1px 3px;
    border-radius : 3px;
    list-style    : none;
    margin-right: 25px;
    position: relative;
    transition: 400ms;
}

.dev-img {
    width: 100%;
}

.dev-gname {
    font-size  : 16px;
    font-weight: 700;
}

.dev-note {
    font-size: 14px;
    color    : #3c3c3c;
}

.dev-version {
    font-size: 16px;
}

.dev-status {
    font-size: 13px;
}

.dev-item>.pass {
    color: #220025;
}

.dev-item>.doing {
    color: #2b80ff;
}

.dev-item>.wait {
    color: #06e611;
}

.dev-item>.failed {
    color: red;
}

.dev-update {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 5px 16px;
    color: green;
    border-radius: 40px;
    border: green solid 1px;
    transform: translate(-50%, -50%);
    transition: 400ms;
    cursor: pointer;
    opacity: 0;
    font-size: 18px;
}

.dev-item:hover {
    box-shadow    : rgba(0, 0, 0, 0.4) 3px 3px 5px;
}

.dev-item:hover > 
.dev-update {
    top: 50%;
    background-color: green;
    color: #fff;
    opacity: 1;
}

.dev-upload-logo,
.dev-upload-area {
    width     : 100%;
    height    : 100%;
    position  : absolute;
    transition: opacity 400ms, left 300ms;
}

.dev-upload-logo {
    top : 0;
    left: 0;
}

.dev-upload-area {
    top : 0;
    left: 100%;
}

.upload-logo {
    position     : absolute;
    top          : 50%;
    left         : 50%;
    transform    : translate(-50%, -50%);
    width        : 50%;
    height       : 80%;
    border       : dashed 3px rgb(160, 160, 160);
    border-radius: 10px;
    cursor       : pointer;
    transition   : 400ms;
}

.upload-logo::before {
    content    : '';
    position   : absolute;
    left       : 50%;
    top        : 50%;
    width      : 100px;
    margin-left: -50px;
    margin-top : -10px;
    border-top : 20px solid rgb(160, 160, 160);
    transition : 400ms;
}

.upload-logo::after {
    content    : '';
    position   : absolute;
    left       : 50%;
    top        : 50%;
    height     : 100px;
    margin-left: -10px;
    margin-top : -50px;
    border-left: 20px solid rgb(160, 160, 160);
    transition : 400ms;
}

.upload-add {
    position  : absolute;
    left      : 50%;
    transform : translate(-50%);
    bottom    : 10px;
    font-size : 18px;
    color     : rgb(160, 160, 160);
    transition: 400ms;
}

.upload-logo:hover {
    border: dashed 3px rgb(94, 94, 94);
}

.upload-logo:hover::before {
    border-top: 20px solid rgb(94, 94, 94);
}

.upload-logo:hover::after {
    border-left: 20px solid rgb(94, 94, 94);
}

.upload-logo:hover>.upload-add {
    color: rgb(94, 94, 94);
}

.dev-upload-area {
    display       : flex;
    flex-direction: row-reverse;
    align-items   : center;
    opacity: 0;
}

.back-logo {
    margin: 20px;
    color        : dodgerblue;
    font-size    : 34px;
    padding      : 5px 10px;
    border-radius: 40px;
    border       : dodgerblue 1px solid;
    cursor       : pointer;
    transition   : 400ms;
}

.back-logo:hover {
    color           : white;
    border          : white 1px solid;
    background-color: dodgerblue;
}

.upload-form {
    font-size: 20px;
}

.upload-form input {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 40px;
    border: rgb(160, 160, 160) solid 1px;
    margin-right: 30px;
}

.upload-btn {
    padding: 8px 30px!important;
    border: rgb(0, 37, 73) solid 1px!important;
    color: rgb(0, 37, 73);
    font-weight: 700;
    transition: 400ms;
    cursor: pointer;
    outline: unset;
}

.upload-btn:hover {
    border: dodgerblue solid 1px;
    background-color: dodgerblue;
    color: #fff;
}

.back-btn {
    padding: 8px 30px!important;
    border: rgb(18, 114, 34) solid 1px!important;
    color: rgb(18, 114, 34);
    font-weight: 700;
    transition: 400ms;
    cursor: pointer;
    outline: unset;
}

.back-btn:hover {
    border: rgb(5, 48, 14) solid 1px;
    background-color:  rgb(5, 48, 14);
    color: #fff;
}

.danger {
    font-size: 12px;
    color: red;
}

.info-item {
    margin: 0 0 20px 0;
}

.info-item > span {
    display: inline-block;
    width: 80px;
}

input {
    outline: unset;
}

input[readonly] {
    background-color: rgb(230, 230, 230);
}

.display {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: #212529;
}